# Local
.DS_Store
*.local
*.log*

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Build stuff.
target
pkg
dist
out
result

# Don't leak dev stuff
*.mp4
*.fmp4
*.crt
*.key
*.hex
*.jwk
*.jwt

# We're using pnpm
package-lock.json
bun.lockb
yarn.lock
node_modules
