html, body {
	width: 100%;
}


body {
	background: #000000;
	color: #ffffff;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	font-family: sans-serif;
}

#main {
	padding: 20px;
	width: 100%;
}

#main > div:nth-child(1) {
	display: grid;
	grid-template-columns: 0.6fr 0.4fr;
	min-height: 50%;
	align-items: center;
	margin-bottom: 40px;
}

#screen {
	position: relative;
}

#play {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1;
}

#vid {
	width: 100%;
	border-radius: 20px;
	margin-bottom: 20px;
}

#screen_bottom {
	display: flex;
	justify-content: space-between;
}

#controls {
	display: flex;
	align-items: center;
}

#controls > * {
	margin-right: 8px;
}

#controls label {
	margin-right: 8px;
}

#stats {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 5px;
	height: fit-content;
}

#stats label {
	padding: 0 1rem;
}

.buffer {
	position: relative;
	width: 100%;
}

.buffer .fill {
	position: absolute;
	transition-duration: 0.1s;
	transition-property: left, right, background-color;
	background-color: turquoise;
	height: 100%;
	text-align: right;
	padding-right: 0.5rem;
	overflow: hidden;
}

.label>.seconds {
	font-size: 0.8em;
}

.buffer .fill.net {
	background-color: turquoise;
}

#plot {
	margin-top: 20px;
	margin-bottom: 20px;
}



#repo_info {
    margin-left: 17px;
    border-radius: 10px;
	width: 100%;
	text-align: right;
}

#right_col {
	display: grid;
    grid-template-rows: 1fr auto;
    height: 80%;
	width: 100%;
}

.github_logo {
	width: 48px;
}

#toggle_log {
	color: white;
	font-size: 0.8rem;
}

#log {
	display: none;
	height: 500px;
    background-color: white;
    overflow: auto;
    color: black;
}