name: docker

on:
  release:
    types: [published]

env:
  REGISTRY: docker.io/kixelated

jobs:
  deploy-relay:
    if: startsWith(github.ref_name, 'moq-relay-v')

    name: Publish moq-relay Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@v3

      # I'm paying for Depot for faster ARM builds.
      - uses: depot/setup-action@v1

      # Login to docker.io
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Extract version from the tag
      - id: version
        run: echo "version=${GITHUB_REF##refs/tags/moq-relay-v}" >> $GITHUB_OUTPUT

      # Build and push Docker image with Depot
      - uses: depot/build-push-action@v1
        with:
          project: r257ctfqm6
          context: .
          push: true
          target: moq-relay
          tags: |
            - ${{env.REGISTRY}}/moq-relay:${{ steps.version.outputs.version }}
            - ${{env.REGISTRY}}/moq-relay:latest
          platforms: linux/amd64,linux/arm64

  deploy-karp:
    if: startsWith(github.ref_name, 'moq-karp-v')

    name: Publish moq-bbb Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@v3

      # I'm paying for Depot for faster ARM builds.
      - uses: depot/setup-action@v1

      # Login to docker.io
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Extract version from the tag
      - id: version
        run: echo "version=${GITHUB_REF##refs/tags/moq-karp-v}" >> $GITHUB_OUTPUT

      # Build and push Docker image with Depot
      - uses: depot/build-push-action@v1
        with:
          project: r257ctfqm6
          context: .
          push: true
          target: moq-karp
          tags: |
            - ${{env.REGISTRY}}/moq-karp:${{ steps.version.outputs.version }}
            - ${{env.REGISTRY}}/moq-karp:latest
          platforms: linux/amd64,linux/arm64

      # moq-bbb also includes ffmpeg and a script
      - uses: depot/build-push-action@v1
        with:
          project: r257ctfqm6
          context: .
          push: true
          target: moq-bbb
          tags: |
            - ${{env.REGISTRY}}/moq-bbb:${{ steps.version.outputs.version }}
            - ${{env.REGISTRY}}/moq-bbb:latest
          platforms: linux/amd64,linux/arm64

  deploy-clock:
    if: startsWith(github.ref_name, 'moq-clock-v')

    name: Publish moq-clock Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@v3

      # I'm paying for Depot for faster ARM builds.
      - uses: depot/setup-action@v1

      # Login to docker.io
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Extract version from the tag
      - id: version
        run: echo "version=${GITHUB_REF##refs/tags/moq-clock-v}" >> $GITHUB_OUTPUT

      # Build and push Docker image with Depot
      - uses: depot/build-push-action@v1
        with:
          project: r257ctfqm6
          context: .
          push: true
          target: moq-clock
          tags: |
            - ${{env.REGISTRY}}/moq-clock:${{ steps.version.outputs.version }}
            - ${{env.REGISTRY}}/moq-clock:latest
          platforms: linux/amd64,linux/arm64
