name: pr

on:
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # Install Rust with clippy/rustfmt
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt

      # Make sure u guys don't write bad code
      - run: cargo test --verbose
      - run: cargo clippy --no-deps
      - run: cargo fmt --check

      # Check for unused dependencies
      - uses: bnjbvr/cargo-machete@main

      # Check for semvar violations
      - uses: obi1kenobi/cargo-semver-checks-action@v2
